doctype html
html    
    head
        title= `${title}`
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        div(class="container mx-auto")
            a(href="/") Home
            a(href="/repas")     Gestion restaurant 
            a(href="/basket")     Gestion basket 
            a(href="/taximan")    Gestion taximan
            hr()
            block content
            hr
            br
            footer
                copyright copyright km &copy 2019 
