extends partials/head 
block content 
    for item in taximans
        p #{item.name} : #{item.number} 
    
    br
    a(href="/taximan/new") Ajouter un nouveau taximan
    br
    a(href="/taximan/update") Modifier le numero d'un taximan
    br
    a(href="/taximan/delete") Supprimer le numero d'un taximan 