extends partials/head
block content   
    h2 #{title}
    a(href="basket/all") Voir la liste des meilleurs marqueurs 
    br
    a(href="basket/update") Modification du nombre de point du joueur 
    br
    a(href="basket/add") Ajouter un nouveau joueur avec son nombre de point 
    br
