extends partials/head 
block content 
    h3 #{title}
    div(class="container")
    for item in plats
            p #{item.day}: dejeuner => #{item.repas} : diner =>  #{item.diner}

    a(href="/repas/update") Mettre a jout un plat 