extends partials/head 
block content 
    h3 #{title}
    div(class="container")
        form(action="/api/repas/update", class="form")
            label(for="day") Entre le jour
            input(type="text", name="day",id="day", class="form-control", required)
            label(for="repas") Entrer le repas du jour
            input(type="text", name="repas",id="repas", class="form-control" required)
            label(for="diner") Entrer le dinner du jour
            input(type="text", name="diner", id="diner", class="form-control" required)
            br
            input(type="submit", value="Envoyer", class="form-control")
        
        a(href="/repas/update")